<!--Login Form that includes username and password-->

<body class="sessions">
  <div class ="login">
    <div class="row">
      <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2">
        <h1>Login</h1>
        <!--login form-->
        <%= form_tag('/login', class: 'form-inline') do %>
        <div class="form-group">
          <%= label_tag :username %><br>
          <%= text_field_tag :username %>
          <br>
          <%= label_tag :password %><br>
          <%= password_field_tag :password %><br>
          <br>
          <%= submit_tag "Submit", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
