<div class="createtasknew">
  <b>
    <h1>New Kindness</h1>
  </b>
</div>

<div class = "newtaskform">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-md-offset-1">

        <%= form_for(@task) do |f| %>
        <span class="error"><%= flash[:error] %><br></span>

        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control", maxlength: 14, placeholder: "e.g.'Bring me dinner' - 15 character limit" %><br>

        <%= f.label :details %>
        <%= f.text_field :details, class: "form-control", maxlength: 23, placeholder: "e.g. 'I want sushi' - 23 character limit" %><br>

        <%= f.label :due_date %>
        <%= f.datetime_field :due_date, class: "form-control" %><br>

        <%= f.label :points %>
        <%= f.select "points", options_for_select((100..1000).step(100)), :class => 'selectpicker' %>
        <br><br>
        <%= f.submit "Create Task", class: "btn btn-danger" %>

        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $('#task_points').selectpicker();
</script>
