
<body class="taskindback">

<!-- <h1 class="text-center">Task Feed</h1> -->

<div class="container">
  <% @task.each_slice(3) do |task| %>
    <div class="row">
      <% task.each do |t| %>
        <div class="col-sm-4 col-md-4">

          <div class="panel panel-danger">
            <div class="panel-body">
              <div>
                  <% if t.doer.avatar.blank? %>
                    <%= image_tag("http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725", class: "img-circle center-block", height: 200) %>
                  <% else %>
                    <%= image_tag t.doer.avatar.url(:medium), class: "img-responsive center-block", height: 200%>
                  <% end %>
              </div>
              <hr class="panel-danger"> 
                <p>
                  <b><%= t.doer.username.upcase %></b> for <b><%= t.creator.username.upcase %></b>
                </p>
                <p>
                  <strong>Completed:</strong> <%= t.title %>
                </p>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
