
<h1>Search for friends:</h1>
<%= form_tag search_path do %>
  <%= search_field_tag :term %>
  <%= submit_tag "Go!" %>
<% end %>
<%= params[:term] %>

<h2>Results</h2>
<% @users.each do |u|%>
<% if u.friends.map(&:id).include?(current_user.id) %>
  <%= link_to u.username, u %>
<% else %>
  <%= u.username %><%= button_to 'Add+', add_friend_path(friend: u.id) %>
<% end %>
<% end %>
