

<body class="showpage">
    <% unless current_user == @user || current_user.is_friends_with?(@user) %>
      <%= button_to 'Add+', add_friend_path(friend: @user.id) %>
    <% end %>

<div class="welcome">
  <h3>What's Up, <%= @user.username %><br></h3>
</div>

<section>
<div class="second">

  <section>
    <div class="overlay">
      <div class="friendlist">
        <h3> Top friends who do things for you: </h3>
      </div>
    <% @user.top_friends_that_earn_points_from_you(3).each do |friend|%>
    <div class="polaroid">
      <img src="http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725" ></img>
      <b><br>
        <%= friend[0].username %>
      </b><br>
      <%= friend[1] %>
    </div>
    <% end %>

  </section>

  <section>
    <div class="friendlist2">
      <h3> Top friends who <u>you</u> do things for: </h3>
    </div>
    <% @user.top_friends_that_you_earn_points_from(3).each do |friend|%>
    <div class="polaroid"><br>
      <img src="http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725" ></img>
      <b>
        <%= friend[0].username %>
      </b><br>
      <%= friend[1] %>
    </div>
    <% end %>

  </div>
  </section>

</div>
</section>

  <section>
  <div class="first">
  <div class="container-1">
    <div class="list1"><h1>Tasks I've Created:</h1>
    </div>
      <% @user.tasks.each do |task| %>
      <% if task.status != "accepted" %>
        <div class="postit col-md-4 col-sm-6 col-md-offset-0" >
          <div class="usertask">
            <div class="title">
              <b>
                <%= task.title %><br>
              </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p")%><br><br>
            <b>
              Worth <%= task.points %> Point(s)<br>
            </b>
            <% if current_user.id == task.user_id %>
              (<%= link_to 'Edit', edit_user_task_path(current_user, task) %>)
              (<%= link_to 'Delete', task, :method => :delete %>)
            <% else %>
              <%= link_to 'Pick up this task', request_task_path(current_user, task), :method => :post %>
              <%#= link_to 'Approve this task', accept_task_path(task.id), :method => :post %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
</div>
</section>

<section>
<% if current_user == @user %>
    <div class="container-2">
    <div class="pendingcom">
      <h1> Tasks Pending My Completion: </h1>
    </div>
        <% @user_pending_tasks.each do |task| %>
            <div class="postit2 col-md-4 col-sm-6 col-md-offset-0" >
            <u><i>I'm doing this for: <b><%= task.creator.username %></b></i></u><br>
            <div class="title">
            <b>
              <%= task.title %><br>
            </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p") %><br><br>
            <b>
              Worth <%= task.points %> Point(s)
            </b>
            </div>
        <% end %>

      <% end %>
    </div>
  </section>
</body>
