

<body class="showpage">
    <% unless current_user == @user || current_user.is_friends_with?(@user) %>
      <%= button_to 'Add+', add_friend_path(friend: @user.id) %>
    <% end %>

  <section>
    <div class="second">
      <div class="friendlist">
      <h1><%= @user.username %>'s<br>Top Friends:</h1>
      </div>

      <% @user.accepted_friends.each do |friend| %>
      <div class="polaroid"><br>
      <div class="friendun">
        <b>
          <%= friend.username %><br>
        </br>
      </div>
        <% if current_user == @user %>
          <%= link_to "(Unfriend - It's not you, it's me)", friendship_path(friend), :method => :delete %><br>
        <% end %>
      </div>
      <% end %>
  </section>


  <section>
  <div class="first">
  <div class="container-1">
    <div class="list1"><h1>Tasks I've Created:</h1>
    </div>
      <% @user.tasks.each do |task| %>
      <% if task.status != "accepted" %>
        <div class="postit col-md-4 col-sm-6 col-md-offset-0" >
          <div class="usertask">
            <div class="title">
              <b>
                <%= task.title %><br>
              </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p")%><br><br>
            <b>
              Worth <%= task.points %> Point(s)<br>
            </b>
            <% if current_user.id == task.user_id %>
              (<%= link_to 'Edit', edit_user_task_path(current_user, task) %>)
              (<%= link_to 'Delete', task, :method => :delete %>)
            <% else %>
              <%= link_to 'Pick up this task', request_task_path(current_user, task), :method => :post %>
              <%#= link_to 'Approve this task', accept_task_path(task.id), :method => :post %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
</div>
</section>
<!-- Tasks You've Picked Up -->
    <!-- <div class= "container">
      <h1> The Tasks You've Picked Up </h1> -->
      <!-- <ul> -->
      <%# if current_user %>
        <%# @user.tasks.each do |task| %>
          <!-- <div class="postit col-md-4 col-sm-6" >
            <div class="taskspicked">
              <li>
              <div class="title">
                <b> -->
                  <!-- <%#= task.title %><br> -->
                <!-- </b>
              </div> -->
              <!-- <#%= task.details %><br> -->
              <!-- <#%= task.due_date.strftime("%b. %d, %Y - %I:%M %p") %><br><br> -->
              <!-- <b> -->
                <!-- Worth <#%= task.points %>Point(s)<br> -->
              <!-- </b> -->
              <!-- <li> -->
            <!-- </div>
          </div> -->
        <%# end %>
      <%# end %>
    <!-- </ul> -->
    <!-- </div> -->

<% if current_user == @user %>
  <section>
    <div class="container-2">
    <h1> Tasks Pending My Completion: </h1>
        <% @user_pending_tasks.each do |task| %>
            <div class="postit2 col-md-4 col-sm-6 col-md-offset-0" >
            <u><i>I'm doing this for: <b><%= task.creator.username %></b></i></u><br>
            <div class="title">
            <b>
              <%= task.title %><br>
            </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p") %><br><br>
            <b>
              Worth <%= task.points %> Point(s)
            </b>
            </div>
        <% end %>

      <% end %>
    </div>
  </section>
</body>
