

<body class="showpage">

<section>
  <div class="profileinfo">

<section>

  <div class="userinfo">
    <br>
      <div class="polaroid2"><br>
        <% if @user.avatar.blank? %>
          <%= image_tag("http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725", class: "img-responsive") %>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: "img-responsive" %>
        <% end %>
      </div>
  <div class="welcome">
    <% if current_user == @user %>
      <h3><b>WELCOME, <%= @user.username.upcase %>!</b></h3>
    <% else %>
      <h3><b><%= @user.username.upcase %></b></h3>
    <% end %>
  </div>

</div>
</section>

<section>
  <div class="otherinfo">
    <div class="heading">

      <% if current_user != @user %>
        <% if @current_user_points > @this_user_points %>
        <h3 class="fl">FRIENDLEVEL <span class="glyphicon glyphicon-triangle-top"></span><%= point_ratio @current_user_points, @this_user_points%>%</h3>
          There is a <b><%= @current_user_points %>/<%= @this_user_points %></b> Point Ratio.

          <% elsif @current_user_points == @this_user_points %>
          <h3 class="fl">FRIENDLEVEL EQUAL </h3>
            There is a <%= @current_user_points %>/<%= @this_user_points %> Point Ratio.

        <% else %>
        <h1 class="fl">FRIENDLEVEL <span class="glyphicon glyphicon-triangle-bottom"></span> <%= point_ratio @current_user_points, @this_user_points%>%</h1>
          There is a <strong><%= @current_user_points %>/<%= @this_user_points %></strong> Point Ratio.
        <% end %>

<br><div class="progress" style="width:500px;margin-bottom:0px;margin-top:20px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @current_user_points %>" aria-valuemin="0" aria-valuemax="9000" style="min-width: 15em; width: 2%; background: #b30000;">
    <%= @current_user_points %>
  </div>
</div>
<div class="cup">
  You have accumulated this many points for doing tasks for <%= @user.username %>.
</div><br>

<div class="progress" style="width:500px;margin-bottom:0px;margin-top:20px;">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @this_user_points %>" aria-valuemin="0" aria-valuemax="9000" style="min-width: 16em; width: 2%; background: #b30000;">
    <%= @this_user_points %>
  </div>
</div>
<div class="tup">
   <%= @user.username %> has accumulated this many points for doing tasks for you.
</div><br><br>
<% end %>


    </div>

  </div>
</section>

</div>
</section>



<section>
<div class="second">

<section>

    <div class="overlay"></div>
      <div class="friendlist">
        <h3> Top Friends Who Do The Most For You </h3>
      </div>
    <% @user.top_friends_that_earn_points_from_you(3).each do |friend|%>
    <div class="polaroid"><br>
      <% if friend.first.avatar.blank? %>
        <%= image_tag("http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725", class: "img-responsive frilistpic") %>
      <% else %>
        <%= image_tag friend.first.avatar.url(:medium), class: "img-responsive" %>
      <% end %>
      <b>
        <%= friend[0].username %>
      </b><br>
      Earned <b><%= friend[1] %></b> Points<br>From You!
    </div><br>
    <% end %>

  </section>

  <section>
    <div class="friendlist2">
      <h3> Top Friends Who You Do The Most For </h3>
    </div>
    <% @user.top_friends_that_you_earn_points_from(3).each do |friend|%>
    <div class="polaroid"><br>
      <% if friend.first.avatar.blank? %>
        <%= image_tag("http://vignette4.wikia.nocookie.net/dragcave/images/6/6e/No_avatar.jpg/revision/latest?cb=20140427211725", class: "img-responsive frilistpic") %>
      <% else %>
        <%= image_tag friend.first.avatar.url(:medium), class: "img-responsive" %>
      <% end %>
      <b>
        <%= friend[0].username %>
      </b><br>
      Gave You <b><%= friend[1] %></b> Points!<br><br>
    </div>
    <% end %>

  </div>
  </section>

</div>
</section>


<section>
  <div class="first">
  <!-- <div class="container-1"> -->
    <div class="list1"><h1>Tasks I've Created</h1>
    </div>
      <% @user.tasks.each do |task| %>
      <% if task.status != "accepted" %>
        <div class="postit col-md-4 col-sm-6 col-md-offset-0" >
          <div class="usertask">
            <div class="title">
              <b>
                <%= task.title %><br>
              </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p")%><br><br>
            <b>
              Worth <%= task.points %> Point(s)<br>
            </b>
            <% if current_user.id == task.user_id %>
              (<%= link_to 'Delete', task, :method => :delete %>)
            <% else %>
              <%= link_to 'Pick up this task', request_task_path(current_user, task), :method => :post %>
              <%#= link_to 'Approve this task', accept_task_path(task.id), :method => :post %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
</div>
</section>

<section>
  <div class="container-2">

    <% if current_user == @user %>
    <div class="pendingcom">
      <h1> Tasks Pending My Completion </h1>
    </div>
        <% @user_pending_tasks.each do |task| %>
            <div class="postit2 col-md-4 col-sm-6 col-md-offset-0" >
            <u><i>I'm doing this for: <b><%= task.creator.username %></b></i></u><br>
            <div class="title">
            <b>
              <%= task.title %><br>
            </b>
            </div>
            <%= task.details %><br>
            <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p") %><br><br>
            <b>
              Worth <%= task.points %> Point(s)
            </b>
            </div>
        <% end %>

      <% end %>
    </div>
  </section>

</body>
