<h1><%= @user.username %></h1>
<% unless current_user == @user || current_user.is_friends_with?(@user) %>
  <%= button_to 'Add+', add_friend_path(friend: @user.id) %>
<% end %>



<h2><%= @user.username %>'s current friends:</h2>

<% @user.accepted_friends.each do |friend| %>
    @<%= friend.username %>
  <% if current_user == @user %>
    <%= link_to "(Unfriend - It's not you, it's me)", friendship_path(friend), :method => :delete %>
  <% end %>
<% end %>



<h1>Here are your tasks:</h1>
<ul>
  <% @user.tasks.each do |task| %>
  <li>
    <%= task.title %>
    <%= task.details %>
    <%= task.due_date %>
    <%= task.points %>
    <% if current_user.id == task.user_id%>
      (<%= link_to 'Edit', edit_user_task_path(current_user, task) %>)
      (<%= link_to 'Delete', task, :method => :delete %>)
      <% else %>
      <%= link_to 'Pick up this task', request_task_path(current_user, task), :method => :post %>
      <%= link_to 'Approve this task', accept_task_path(task.id), :method => :post %>
    <% end %>
  </li>
  <% end %>
</ul>



<h1> Approved and Now I Must Execute </h1>
  <ul>
    <% if current_user %>
      <% @user_accepted_tasks.each do |task| %>
      <li>
        <%= task.title %>
        <%= task.details %>
        <%= task.due_date %>
        <%= task.points %>
      </li>
      <% end %>
    <% end %>
  </ul>
