<% if current_user %>
  <div class="modal fade" id="pending_tasks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Pending Tasks</h4>
        </div>
        <div class="modal-body">
            <div>
              <% if current_user %>
                <% pending_tasks.each do |task| %>
                  Did <b><%= task.doer.username.upcase %></b> complete <b><%= task.title %></b> for <b><%= task.points %></b> point(s)?
                 <%#= task.due_date.strftime("%b. %d, '%y - %I:%M %p") %>
                  <%= button_to 'Completed', accept_task_path(task.id), :method => :post,class: "btn btn-danger btn-sm"%>
                  <%= button_to 'Reject', decline_task_path(task.id), :method => :post, class: "btn btn-danger btn-sm" %>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
