<% if current_user %>
<div class="modal fade" id="pending_tasks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pending Tasks</h4>
      </div>
      <div class="modal-body">
        <% if current_user %>
        <!-- <div class="row">
          <table class="col-md-10"> -->
            <!-- <tr>
              <th>Username</th>
              <th>Task</th>
              <th>Details</th>
              <th>Date</th>
            </tr> -->
          <% pending_tasks.each do |task| %>
            <tr>
              <td><b><%= task.doer.username %></b><br>
              <%= task.title %>
              <%= task.details %>
              <%= task.due_date.strftime("%b. %d, '%y - %I:%M %p") %>
                Worth <%= task.points %> point(s)
              </td>
              <td><%= button_to 'Completed', accept_task_path(task.id), :method => :post, class: "btn btn-primary btn-sm" %></td>
              <td><%= button_to 'Reject', decline_task_path(task.id), :method => :post, class: "btn btn-primary btn-sm" %></td>
            </tr><br>
          </table>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
