<!DOCTYPE html>
<html>
<head>
  <title>FriendLevel</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Merienda+One" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Animate -->
  <link rel="stylesheet" href="http://s.mlcdn.co/animate.css"></link>
</head>

<!-- this is where the body begins -->
<body>
<!-- static nav bar -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div row>
    <div class="col-s-12">
      <% if current_user %>
        <%= link_to "FRIEND LEVEL", user_path(current_user), id: "logo"%>
        Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
        <!-- Button trigger modal for Friend Requests -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Friend Requests
        </button>
        <!-- search bar -->

        <!-- <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search...">
          </div>
          <button type="submit" class="btn btn-primary">Find a Friend</button>
        </form> -->


        <div class="search-bar">
        <%= form_tag search_path do %>
        <%= search_field_tag :term %>
        <%= submit_tag "Go!" %>
        <% end %>
      </div>
      <% else %>
        <%= link_to "Friend Level", root_path, id: "logo"%>
        <%= link_to 'Signup', signup_path, id: "logo"%>
      <% end %>
    </div>
  </div>
</header>

<!-- Modal for Friend Requests-->
<% if current_user %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Your Friend Requests</h4>
        </div>
        <div class="modal-body">
          <% current_user.friends.each do |friend| %>
          <p>
            <div>
              <% if friend.friendships.where(status: 'requested', friend_id: current_user.id) != [] %>
              <h2><%= friend.username %></h2>
              <%= button_to 'Accept', accept_friend_path(friend: friend.id)%>
              <%= button_to 'Decline', decline_friend_path(friend: friend.id)%>
              <% end %>
            </p>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>
</body>
</html>
