<!DOCTYPE html>
<html>
<head>
  <title>FriendLevel</title>
  <%= csrf_meta_tags %>



  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Mogra|Oregano|Paprika|Salsa" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Animate -->
  <link rel="stylesheet" href="http://s.mlcdn.co/animate.css"></link>
</head>

<!-- body begins -->
<body>
  <!-- static nav bar -->
  <header class="navbar navbar-fixed-top my-navbar">
    <% if current_user %>
      <div class="dropdown">
        <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> FRIENDLEVEL
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <div class="test2">
            <li><%= link_to "My Profile", current_user, id: "color"%></li>
            <li><%= link_to "Tasks Feed", user_tasks_path(current_user), id: "color"%></li>
            <li><%= link_to "Logout", '/logout', id: "color"%></li>
          </div>
        </ul>
      </div>

    <!-- search bar -->
    <nav class= "navbar-right">
      <div class="test">
        <button type="button" class="btn btn-new btn-sm animated infinite pulse" data-toggle="modal" data-target="#new_task">
          <b>+ New Task</b>
        </button>
        <%= form_tag search_path, class: "search-form" do %>
        <%= search_field_tag :term,'', class: "search-bar" %>
        <%= submit_tag "Go!", class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </nav>
    <!-- Button trigger modal for Friend Requests -->
    <div class="requests">
      <button type="button" class="btn btn-new btn-sm" data-toggle="modal" data-target="#friend_request">
        Friend Requests
          <% if pending_friends != 0 %>
          <span class="badge"><%= pending_friends.count %></span>
        <% end %>
      </button>
      <button type="button" class="btn btn-new btn-sm" data-toggle="modal" data-target="#pending_tasks">
        View Pending Tasks
        <% if pending_tasks != 0 %>
          <span class="badge"><%= pending_tasks.count %></span>
        <% end %>
      </button>

    <% else %>
      <nav class= "navbar navbar-fixed-top navbar-default">
        <%= link_to "FRIENDLEVEL", root_path, id: "logo"%>
        <%= link_to 'Signup', signup_path, id: "logo"%>
        <%= link_to 'Login', root_path, id: "logo"%>
    <% end %>
      </nav>
  </header>

  <!-- Modal for Friend Requests-->
  <% if current_user %>
  <div class="modal fade" id="friend_request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Your Friend Requests</h4>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <table class="col-md-7">
                <% current_user.friends.each do |friend| %>
                <tr>
                  <% if friend.friendships.where(status: 'requested', friend_id: current_user.id) != [] %>
                  <td class="col-md-4" height="50"><b><%= friend.username %></b></td>
                  <td class="col-md-4" height="50"><%= button_to 'Accept', accept_friend_path(friend: friend.id), class: "btn btn-danger btn-sm"%></td>
                  <td class="col-md-4" height="50"><%= button_to 'Decline', decline_friend_path(friend: friend.id), class: "btn btn-danger btn-sm"%></td>
                  <% end %>
                </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class='page-body'>
  <%= yield %>
</div>

<%= render partial: "/layouts/pending_tasks" %>
<%= render partial: "layouts/form", locals: { task: @task } %>

</body>
</html>
